<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837897315075-2b43b02sgmq73du2iakrdcp5ijvde7n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837897315075-2b43b02sgmq73du2iakrdcp5ijvde7n8</string>
	<key>API_KEY</key>
	<string>AIzaSyB6Xll10ZXnmg6EZ4IJ9ntjvzCCy0bmU6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>837897315075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devpierre.Cinechill-iOS</string>
	<key>PROJECT_ID</key>
	<string>cinechill-a762b</string>
	<key>STORAGE_BUCKET</key>
	<string>cinechill-a762b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837897315075:ios:3c2d1f0d341b9c573ebf36</string>
</dict>
</plist>